.init-height {
    min-height: 428px;
  }
  

.blue {
  border: solid 1px blue;
}
.red {
  border: solid 1px red;
}
.green {
  border: solid 1px green;
}
.purple {
  border: solid 1px purple;
}
.yellow {
  border: solid 1px yellow;
}