@charset "utf-8";
// 1. Import the initial variables
// @import "node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../node_modules/bulma/sass/utilities/functions.sass";

// 2. Set your own initial variables
// Lolland colors Pantone 294
$dark-blue: #003478;
$dark-blue-80: #335D93;
$dark-blue-60: #6685AE;
$dark-blue-40: #99AEC9;
$dark-blue-20: #CCD6E4;

// Lolland colors Pantone 369
$green: #58a618;
$green-80: #70B65F;
$green-60: #91C483;
$green-40: #BCD5A7;
$green-20: #D5E7CF;

// Lolland colors Pantone 2905
$light-blue: #8FC9E6;
$light-blue-80: #A4D4E4;
$light-blue-60: #BBDEF0;
$light-blue-40: #D2E9F3;
$light-blue-20: #E8F3F8;

// Lolland colors Pantone 638
$blue-green: #009BBB;
$blue-green-80: #33AFC9;
$blue-green-60: #66C3D6;
$blue-green-40: #99D7E4;
$blue-green-20: #CCEBF1;

// Lolland colors Pantone 382
$lime-green: #BED600;
$lime-green-80: #CBDE33;
$lime-green-60: #D8E666;
$lime-green-40: #E5EF99;
$lime-green-20: #F2F7CC;

// Lolland colors Pantone 5825
$umbra: #827C34;
$umbra-80: #9B965D;
$umbra-60: #B4B085;
$umbra-40: #CDCBAE;
$umbra-20: #E6E5D6;

// Add a serif family
$family-serif: "Verdana", "Georgia", serif;

// 3. Set the derived variables
// Use the new colors
$primary: $green;
// $link: $yellowich;
// $primary-invert: $pink-invert;

// Use the new serif family
$family-primary: $family-serif;

// 5. Add new color variables to the color map.
@import "../node_modules/bulma/sass/utilities/derived-variables.sass";


// @import "../node_modules/bulma/sass/components/card.sass";

.card {
  transition: translate ease-in-out 100ms, box-shadow ease-in-out 100ms;
}
.card:hover,
.card:focus {
  translate: 0 -5px;
  box-shadow: 0 5px 8px 0 rgba(0,0,0, .2);
}

// 6. Import the rest of Bulma
@import "../node_modules/bulma/bulma.sass";