@charset "utf-8";
@import "./index.scss";

@media screen and (min-width: 480px){
  .columns:not(.is-desktop) {
    display: flex;
    flex-direction: column;
  }
  .column.is-4-desktop {
    width: 100%;
  }
    .column.is-8-desktop {
    width: 100%;
  }
  .column.is-4-tablet {
    width: 100%;
  }
}