@charset "utf-8";
@import "./index.scss";

@media screen and (min-width: 480px){
  .columns:not(.is-desktop) {
    display: flex;
    flex-direction: column;
  }
  .column.is-4-desktop {
    width: 100%;
  }
    .column.is-8-desktop {
    width: 100%;
  }
  .column.is-4-tablet {
    width: 100%;
  }
}
.stackedbar-no-legend {
  aspect-ratio: 3/1;
  // aspect-ratio: auto;
  // aria-label='Beskrivelse af grafen'
}