#municipality-minimapbody {
    aspect-ratio: 5 / 6;
} #open-country-minimapbody {
    aspect-ratio: 5 / 6;
} 
#supply-area-minimapbody {
    aspect-ratio: 1 / 1;
} 
#cottage-areas-minimapbody {
    aspect-ratio: 5 / 6;
}
#villages-minimapbody {
    aspect-ratio: 1 / 1;
}