#open-country-minimapbody {
    aspect-ratio: 5 / 6;
} 
#supply-area-minimapbody {
    aspect-ratio: 5 / 6;
} 
#cottage-areas-minimapbody {
    aspect-ratio: 5 / 6;
}
#villages-minimapbody {
    aspect-ratio: 5 / 6;
}